# Frontend
VITE_SUPABASE_URL=https://thfcvybfeufndyfqzwmr.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRoZmN2eWJmZXVmbmR5ZnF6d21yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1MTY1NDYsImV4cCI6MjA5MTA5MjU0Nn0.SNldvcT-ieQZoa4Gqm_qktffCVToi0iVmFdJkNXOz6g
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51RUZbZ3VBimmsMNTikJzrmn25ZCMF2P9AWqi54mfgiq4BUBUUbbPPcvryPAsU9UDCZVN7lBpvJFP4UFMglpJwYFd004MTDvhim
VITE_STRIPE_PRICE_STARTER=price_1TN21q3VBimmsMNTzBYpEcGI
VITE_STRIPE_PRICE_PRO=price_1TN22D3VBimmsMNTezVtyM6U
VITE_STRIPE_PRICE_CREDITS_10=price_1TN22q3VBimmsMNTcvHwUcbU
VITE_STRIPE_PRICE_CREDITS_30=price_1TN23E3VBimmsMNTqA1IIEtc
VITE_STRIPE_PRICE_CREDITS_100=price_1TN23U3VBimmsMNTnhUMWA5N
VITE_PIX_KEY=09568758909

# Backend / Supabase Edge Functions (configure como secrets no Supabase)
STRIPE_SECRET_KEY=sk_test_51RUZbZ3VBimmsMNT92MOisC6QzClUpMaYCVuKLiPYxlo1lyxQuM5vnlPZZEqgiD8cxwwsrqHeS3Ie6Pm1ksDThLX002XL1Oji6
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PRICE_STARTER=price_1TN21q3VBimmsMNTzBYpEcGI
STRIPE_PRICE_PRO=price_1TN22D3VBimmsMNTezVtyM6U
STRIPE_PRICE_CREDITS_10=price_1TN22q3VBimmsMNTcvHwUcbU
STRIPE_PRICE_CREDITS_30=price_1TN23E3VBimmsMNTqA1IIEtc
STRIPE_PRICE_CREDITS_100=price_1TN23U3VBimmsMNTnhUMWA5N
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRoZmN2eWJmZXVmbmR5ZnF6d21yIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTUxNjU0NiwiZXhwIjoyMDkxMDkyNTQ2fQ.KEeSCUGKzMjh_rmqzPSftmsQ9ELEPlUjWroEwD2YCHU
